
<h2>Profile</h2>
<div id="create-form" style="width: 30rem">
<form action="/auth/{{userProfile._id}}/profile" method="POST">

  <div class="input-group mb-3">
    <span id="etiqueta"
      for="username"
      class="input-group-text"
      id="inputGroup-sizing-default"
    >User Name:</span>
    <input
      type="text"
      name="username"
      value="{{userProfile.username}}"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
    />
  </div>

  <div class="input-group mb-3">
    <span id="etiqueta"
      for="email"
      class="input-group-text"
      id="inputGroup-sizing-default"
    >Email:</span>
    <input
      type="text"
      name="email"
      value="{{userProfile.email}}"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
    />
  </div>

  <div class="input-group mb-3">
    <span id="etiqueta"
      for="password"
      class="input-group-text"
      id="inputGroup-sizing-default"
    >Password:</span>
    <input
      type="texts"
      name="password"
      value="{{userProfile.password}}"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
    />
  </div>

  <div class="input-group mb-3">
    <span id="etiqueta"
      for="nickname"
      class="input-group-text"
      id="inputGroup-sizing-default"
    >Nick Name:</span>
    <input
      type="text"
      name="nickname"
      value="{{userProfile.nickname}}"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
    />
  </div>
  <div class="input-group mb-3">
    <span id="etiqueta"
      for="country"
      class="input-group-text"
      id="inputGroup-sizing-default"
    >Country:</span>
    <input
      type="text"
      name="country"
      value="{{userProfile.country}}"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
    />

    <div class="input-group mb-3">
    <span id="etiqueta"
      for="image"
      class="input-group-text"
      id="inputGroup-sizing-default"
    >Image:</span>
    <input
      type="text"
      name="image"
      value="{{userProfile.image}}"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
    />

  </div>

  <div id="etiqueta">
    <button class="btn btn-outline-success">Edit</button>
  </div>

</form>

{{#if errorMessage}}
   <p>{{errorMessage}}</p>
{{/if}}

</div>