

<div class="card">
  <div class="card-header">
  <h4>Title: {{wineDetails.name}}</h4>
  </div>

  <div class="card-body">
  <p>Description: {{wineDetails.grapes}}</p>
  {{!-- <p>Author: {{wineDetails.author}}</p> --}}
  {{!-- <p>Author: {{wineDetails.author.name}} from {{wineDetails.author.country}} born in {{wineDetails.author.yearBorn}}</p>  --}}
  
  <p>Wine: {{this.name}} from {{this.country}} with grapes {{this.grapes}}</p>

  {{!-- como tenemos acceso a la id poque viene de la base de datos podemos usarlo para tener acceso   --}}
  <a href="/Wine/{{wineDetails._id}}/edit">
  {{!-- los anchor tags siempre hacen un request tipo GET --}}
    <button class="btn btn-outline-warning">Edit</button>
  </a>
  
  <form method="POST" action="/Wine/{{wineDetails._id}}/delete">
  <button class="btn btn-outline-danger">Delete</button>
  </form>
  {{!-- solo métodos POST  por ello utilizamos POST--}}
  </div>
  

</div>