

<div class="card">
  <div class="card-header">
  <h4>Name: {{wineDetails.name}}</h4>
  </div>

  <div class="card-body">
  <p>Grapes: {{wineDetails.grapes}}</p>
  
  <p>Wine: {{this.name}} from {{this.country}} with grapes {{this.grapes}}</p>

  
  
  <form method="POST" action="/wines/{{wineDetails._id}}/edit">
    <button class="btn btn-outline-warning">Edit</button>
  </form>
  
  <form method="POST" action="/wines/{{wineDetails._id}}/delete">
  <button class="btn btn-outline-danger">Delete</button>
  </form>
  
  </div>
  

</div>


{{!-- CARD FOR WINES
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="..." class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div> --}}