<div class="cardWine"></div>
<div class="allCards">
  <div>
    <div class="card text-white bg-secondary mb-3" style="max-width: 480px;">
      <div class="row g-0" class="card border-dark mb-3" id="margin-card">
        <div class="col-md-4">
          <img
            src="{{wineDetails.image}}"
            id="wine-image-card"
            class="wine-view"
            class="img-fluid rounded-center"
            alt="{{wineDetails.name}}"
          />
        </div>
        <div
          class="card text-white bg-dark mb-3"
          style="max-width: 18rem;"
          id="margin-card"
        >
          <div class="card-body">
            <h5 class="card-title">{{wineDetails.name}}</h5>
            <p class="card-text">
              <ul>
                <li>{{wineDetails.type}}</li>
                <li>{{wineDetails.grapes}}</li>
                <li>{{wineDetails.country}}</li>
                <li>{{wineDetails.aging}}</li>
                <li>{{wineDetails.vintage}}</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="edit-wine-buttons">
    <div id="create-form" style="width: 30rem">
      <form method="post" action="/comments/create/{{wineDetails._id}}">
        <div class="form-floating" class="comment">
          <div class="input-group">
            <span class="input-group-text">Comments</span>
            <input
              autocomplete="off"
              type="text"
              name="text"
              class="form-control"
              placeholder="Leave a comment here"
              id="floatingTextarea2"
              style="height: 100px"
              aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-default"
            />
          </div>
        </div>
        <div>
          <div id="comment-label">
            <button class="btn btn-secondary" type="submit">Submit</button>
          </div>
        </div>
      </form>

      <div class="card-buttons">
        <div class="edit-delete-wines">

          {{#if isLoggedAdmin}}
            <form method="POST" action="/wines/{{wineDetails._id}}/edit">
              <button class="btn btn-outline-warning">Edit</button>
            </form>
          {{/if}}

          <div style="padding: 10px"></div>

          {{#if isLoggedAdmin}}
            <form method="POST" action="/wines/{{wineDetails._id}}/delete">
              <button class="btn btn-outline-danger">Delete</button>
            </form>
          {{/if}}
        </div>
      </div>

    </div>
    </div>
  </div>

  <div>
    <div>

      {{#each allComments}}
        <div class="comments">
          <div>

            <div class="card" style="width: 25rem;">

              <form method="POST" action="/comments/{{this._id}}/delete">
                <button type="submit" class="btn btn-white" id="x-button"><img
                    src="/images/delete-message.png"
                    alt=""
                  /></button>
                <ul class="list-group list-group-flush">
                  <li
                    class="list-group-item"
                    img=""
                  >{{this.userId.nickname}}</li>
                  <li class="list-group-item" img="">{{this.text}}</li>
                </ul>
              </form>

            </div>

          </div>
        </div>

      {{/each}}

    </div>
  </div>
</div>