

<div class="card">
  <div class="card-header">
  <h4>Name: {{wineDetails.name}}</h4>
  </div>

  <div class="card-body">
  <p>Grapes: {{wineDetails.grapes}}</p>
  
  <p>Wine: {{this.name}} from {{this.country}} with grapes {{this.grapes}}</p>

  
  
  <form method="POST" action="/wines/{{wineDetails._id}}/edit">
    <button class="btn btn-outline-warning">Edit</button>
  </form>
  
  <form method="POST" action="/wines/{{wineDetails._id}}/delete">
  <button class="btn btn-outline-danger">Delete</button>
  </form>
  
  </div>
  

</div>